<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
   <title>Prodcucts</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <h4>Employees List</h4>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Department</th>
            </tr>
            <tr>
                <td>Rahul</td>
                <td>Sr Software Enginerr</td>
                <td>Development</td>
            </tr>
            <tr>
                <td>Harvey Spector</td>
                <td>Director</td>
                <td>Development</td>
            </tr>
            <tr>
                <td>Jessica Morgan</td>
                <td>VP</td>
                <td>Development</td>
            </tr>
            <tr>
                <td>Rachel Zain</td>
                <td>Administrator</td>
                <td>Operations</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
