<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
   <title>Logout</title>
</head>
<body>
<div layout:fragment="content">
<div class="container-fluid">
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><h3>You have been successfully logged out.</h3></li>
        </ul>
        <a th:href="@{/index}">Return home</a>
    </div>
</div>
</div>
</body>
</html>
